In [3]:
import pandas as pd

In [4]:
dataset=pd.read_csv("insurance_pre.csv")

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset = dataset.astype(int)

In [122]:
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
dependent=dataset[['charges']]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [123]:
x_test

      age  bmi  children  sex_male  smoker_yes
578    52   30         1         1           0
610    47   29         1         0           0
569    48   40         2         1           1
1034   61   38         0         1           0
198    51   18         0         0           0
...   ...  ...       ...       ...         ...
1261   28   37         1         1           0
494    21   25         4         1           1
97     55   38         0         1           0
418    64   39         1         1           0
920    62   25         0         0           0

[402 rows x 5 columns]

In [115]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=100,criterion='absolute_error',max_features='log2',random_state=0)
regressor=regressor.fit(x_train,y_train)

C:\Anaconda3\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [116]:
y_pred=regressor.predict(x_test)

In [117]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [118]:
r_score

0.866661872028384

In [127]:
import pickle
filename="finalized_model_Random_Forest.sav"

In [128]:
pickle.dump(regressor,open(filename,'wb'))

In [129]:
loaded_model=pickle.load(open("finalized_model_Random_Forest.sav", 'rb'))
result=loaded_model.predict([[50,35,2,1,0]])

C:\Anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [130]:
result

array([17233.055])